@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens */
:root {
  --color-primary: 41 41 41; /* Text, buttons, etc. */
  --color-contrast: 255 255 255; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 1.875rem; /* 30px */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 1.875rem; /* 30px */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

/**
GLR 2022-10-10 For systems (like mine) which are configured to dark mode, this is reversing contrast
Commenting this out preserves the design as it is meant to mbe.
 */

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --color-primary: 250 250 250;*/
/*    --color-contrast: 32 33 36;*/
/*    --color-accent: 235 86 40;*/
/*  }*/
/*}*/

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.z-max {
  z-index: 10000000000;
}

.shop-pay-button {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  background-color: #5a31f4;
  align-items: center;
  border-radius: 8px;
}

.cart-wrapper #syf-promo,
#syf-plcc,
#syf-setpay {
  font-size: 16px;
  margin-bottom: 16px;
}

.product-details .sync-price,
.product-details .temp-sync-price {
  border-left: 1px solid #c3c1c0;
  max-width: 170px;
  padding-left: 5px;
}

.sync-price .widget-box .offer-img,
.temp-sync-price .widget-box .offer-img {
  display: none;
}

.sync-price .widget-box .offer-content,
.temp-sync-price .widget-box .offer-content {
  padding-left: 0;
}

.sync-price .widget-box .offer-content .syf-cta,
.temp-sync-price .widget-box .offer-content .syf-cta {
  text-decoration: underline;
  color: #000000;
}

/* Searchanise Products */

.snize-ac-results.snize-new-design.snize-ac-results-mobile {
  padding-right: 0;
}

.snize-ac-results {
  max-width: 1270px;
  padding-right: 30px;
}

#snize-modal-mobile-sortby-dialog
  .snize-modal-content
  .snize-main-panel-dropdown-content {
  display: block;
}

.snize-search-results .snize-main-panel .snize-main-panel-mobile-filters {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.snize-search-results .snize-main-panel .snize-main-panel-mobile-filters a {
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: red;
  font-weight: bold;
  color: white;
  font-size: 20px;
  display: inline-block;
}

.snize-ac-results .snize-view-all-link {
  border-radius: 6px !important;
  background: #e32329 !important;
}

.snize-ac-results .snize-product-info .snize-description {
  color: #292929;
}

.snize-ac-results .snize-label {
  border-bottom: 1px solid #c3c1c0 !important;
}

.snize-ac-results .snize-product-info .snize-sku {
  display: none;
}

.snize-ac-results .snize-ac-prices-container .snize-price-list {
  font-weight: 300;
}

.snize-ac-results .snize-ac-prices-container .snize-price-list .snize-price {
  font-weight: bold;
  color: #e32329;
}

.snize-ac-results .snize-ac-prices-container .snize-discounted-price {
  font-weight: bold;
  color: #292929;
}

.mobile-sort-by {
  padding-right: 36px !important;
}

/* End Searchanise Products */

.pac-container {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 10000000000;
}

.pac-item {
  padding: 5px;
}

.pac-item,
.pac-item-query {
  color: #09153c;
  font-size: 14px;
}
.pac-item:hover {
  background: #6666;
  cursor: pointer;
}

.hdpi.pac-logo:after {
  display: none;
}

.plant-a-tree-checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.affirm-as-low-as .affirm-modal-trigger {
  text-decoration: underline;
  font-weight: bold;
}

.mini-search-card::-webkit-scrollbar {
  width: 7px;
}

.mini-search-card.select-option::-webkit-scrollbar {
  width: 5px;
}

.mini-search-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ebebea;
  border-radius: 10px;
}

.mini-search-card::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
  height: 50px;
}

.mini-search-card::-webkit-scrollbar-thumb:hover {
  background: #757575;
}

.add-to-cart-wrapper p[role='alert'] {
  display: none;
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply antialiased text-primary/100 bg-contrast border-primary/10;
    font-weight: 300;
  }

  html {
    scroll-padding-top: 10rem;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }

  strong {
    @apply font-bold;
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply mb-12 font-serif prose mx-auto grid justify-center text-primary;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid snap-mandatory grid-flow-col snap-x w-full gap-4 scroll-px-6 px-6 pb-4 overflow-x-scroll justify-start;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative rounded overflow-clip flex justify-center items-center;
    &::before {
      content: ' ';
      @apply z-10 absolute block top-0 left-0 w-full h-full shadow-border rounded;
    }
    img {
      @apply object-cover w-full aspect-[inherit];
    }
  }
}

/* quick search */

.mini-search-card::-webkit-scrollbar {
  width: 7px;
}

.mini-search-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ebebea;
  border-radius: 10px;
}

.mini-search-card::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
  height: 50px;
}

.mini-search-card::-webkit-scrollbar-thumb:hover {
  background: #757575;
}

/* PowerReviews */

@media (max-width: 512px) {
  .account-header-card {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 400px) {
  .account-header-card {
    padding-left: 12px;
    padding-right: 12px;
  }

  .footer-form-input {
    width: 100%;
  }
}

#pr-write {
  .p-w-r {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      font-family: Lato, ui-sans-serif, system-ui, -apple-system, Segoe UI,
        Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    }
  }

  .p-w-r .pr-header {
    display: none;
  }

  .p-w-r .pr-war {
    border-top: 1px solid #c3c1c0;
    margin-top: 20px;
  }

  .p-w-r .control-label .pr-required-indicator,
  .p-w-r .pr-control-label .pr-required-indicator {
    font-size: 24px;
  }

  .p-w-r .tag-group .pr-label-control:hover,
  .p-w-r .pr-btn:hover,
  .p-w-r .pr-btn-add-tag button:hover {
    background-color: #eedbd3;
  }

  .p-w-r .form-control,
  .p-w-r .pr-btn {
    border-radius: 6px;
  }

  .p-w-r .tag-group .pr-label-control {
    border-radius: 6px;
  }

  .p-w-r .pr-btn-add-tag button {
    border-radius: 6px;
  }

  .p-w-r .tag-group .pr-label-control,
  .p-w-r .tag-group .pr-label-control span {
    color: #161615;
  }

  .thank-you-page .header {
    margin-top: 0;
  }

  .thank-you-page .header .title {
    margin-top: 0;
  }

  .pr-logo-container.pr-pull-right {
    display: none;
  }

  .pr-subscript {
    display: none;
  }

  .p-w-r .pr-underline {
    font-size: 16px;
  }

  .p-w-r .pr-header-required {
    margin: 24px 0 32px 0;
    padding: 10px 28px;
    display: inline-block;
    border: 1px solid #eedbd3;
    background-color: #eedbd3;
    border-radius: 6px;
  }

  .p-w-r .pr-header-required span {
    font-weight: 600;
    font-family: Lato, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
      Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    color: #292929;
  }

  .p-w-r .pr-form-control-error-wrapper {
    font-size: 20px;
    font-weight: 600;
  }

  .p-w-r .pr-control-label span {
    font-size: 20px;
    font-family: Lato, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
      Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    color: #161615;
  }

  .p-w-r legend.pr-control-label {
    margin-bottom: 13px;
  }

  .p-w-r label {
    font-family: Lato, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
      Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    color: #161615;
  }

  .p-w-r label.pr-control-label {
    margin-bottom: 13px;
  }

  .p-w-r label.pr-star-v4 {
    margin-bottom: 0;
  }

  .p-w-r .pr-review-meter-text {
    font-family: Lato, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
      Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    color: #292929;
  }

  .p-w-r .pr-control-label .pr-helper-text {
    margin-bottom: 0;
    font-family: Lato, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
      Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    color: #292929;
  }

  .p-w-r .pr-btn-add-tag button,
  .p-w-r .pr-btn {
    font-family: Lato, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
      Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
  }

  .p-w-r button.pr-btn-review {
    border: 1px solid #e32329;
    color: #ffffff;
    background-color: #e32329;
    &:hover {
      color: #e32329;
      background-color: #ffffff;
    }
  }

  .p-w-r .tag-group .pr-label-control.checked,
  .p-w-r .pr-btn.active {
    background-color: #eedbd3;
    border: 1px solid #c0c0c0;
  }

  .p-w-r .pr-btn-add-tag button,
  .p-w-r .pr-btn-fileinput {
    background: #ebebea;
    color: #09153c;
  }

  .p-w-r .pr-star-v4-0-filled {
    background-image: url(/mw-star-empty.svg);
  }

  .p-w-r .pr-star-v4-100-filled {
    background-image: url(/mw-star-filled.svg);
  }

  .p-w-r input:focus + label.pr-star-v4,
  .p-w-r input:focus + label.pr-star-v4-0-filled {
    background-color: transparent;
  }
}

/* Basic styles for Shopify Pages */

#mw-page {
  h1,
  h2,
  h3,
  h4 {
    color: rgba(22, 22, 21, 1);
    font-weight: 700;
    white-space: normal;
  }

  h1 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.875rem;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  p {
    max-width: 65ch;
    margin-bottom: 1rem;
  }

  ul,
  ol {
    max-width: 65ch;
    list-style: disc;
  }

  ul li,
  ol li {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  p + h1 {
    margin-top: 1.75rem;
  }
  p + h2,
  p + h3,
  p + h4 {
    margin-top: 1.5rem;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    &:hover {
      color: #e32329;
    }
  }

  blockquote {
    border-left: 3px solid #ebebea;
    font-style: italic;
    padding: 10px 20px;
  }

  table,
  tr,
  th,
  td {
    border: 1px solid #c3c1c0;
  }

  th,
  td {
    padding: 5px 10px;
  }

  th {
    text-align: left;
    background-color: #ebebea;
  }

  details {
    margin-bottom: 1.5rem;
  }

  details > summary {
    font-size: 1rem;
    font-weight: 700;
  }

  details > div {
    margin: 0.9rem 0 2rem 1.1rem;
  }
}

/* Custom CSS classes for Shopify Pages */

#mw-page {
  /*
  section.mw-page-width
    Simulates: w-full gap-4 md:gap-8 grid border-none max-w-page-width mx-auto p-6 md:p-8 lg:p-12"
*/
  section.mw-page-width {
    width: 100%;
    gap: 1rem;
    display: grid;
    border-style: none;
    max-width: 1336px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    @media (min-width: 48em) {
      gap: 2rem;
      padding: 2rem;
    }
    @media (min-width: 64em) {
      padding: 3rem;
    }
  }

  /*
  a.mw-button
*/
  a.mw-button {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border: 1px solid #e32329;
    border-radius: 0.375rem;
    background-color: #e32329;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      background-color: #ffffff;
      color: #e32329;
    }
  }

  /*
  iframe.mw-video
*/
  iframe.mw-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}

/* Section background images for Shopify Pages */

#mw-page {
  .mw-section-bg-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 51%,
        rgba(255, 255, 255, 1) 100%
      ),
      url('https://cdn.shopify.com/s/files/1/1115/3882/files/Group_40_2.png?v=1649273341');
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-1 {
    }
  }

  .mw-section-bg-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/Group_10_2.png?v=1649447221');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-2 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/bedmatch_cover.png?v=1648832671');
      align-items: center;
    }
  }

  .mw-section-bg-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/Group_11_1.png?v=1649275695');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-3 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/iStock-1024724962_Copy_1_-min.png?v=1648844254');
      align-items: center;
    }
  }

  .mw-section-bg-4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/Group_42.png?v=1649447321');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-4 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/Group_Copy.png?v=1648848789');
      align-items: center;
    }
  }

  .mw-section-bg-5 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 0;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-type-banner-mobile.jpg?v=1579864465');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-5 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-type-banner-desktop.jpg?v=1579864466');
    }
  }

  .mw-section-bg-6 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-type-overlay-mobile.jpg?v=1579537794');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-6 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-type-overlay-desktop.jpg?v=1579537795');
    }
  }

  .mw-section-bg-7 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-type-overlay2-mobile.jpg?v=1579538709');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-7 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-type-overlay2-desktop.jpg?v=1579538709');
    }
  }

  .mw-section-bg-8 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-comfort-banner-mobile.jpg?v=1579118591');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-8 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-comfort-banner.jpg?v=1579118593');
    }
  }

  .mw-section-bg-9 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-comfort-overlay-mobile.jpg?v=1579180782');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-9 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-comfort-overlay.jpg?v=1579180783');
    }
  }

  .mw-section-bg-10 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-comfort-find-optimal-mobile.jpg?v=1579201502');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-10 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-comfort-find-optimal-desktop.jpg?v=1579201256');
    }
  }

  .mw-section-bg-11 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-all-hero-mobile.jpg?v=1613850231');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-11 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-all-hero-desktop.jpg?v=1613850231');
    }
  }

  .mw-section-bg-12 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-all-article-mobile.jpg?v=16138509120');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-12 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-all-article-desktop.jpg?v=1613851860');
    }
  }

  .mw-section-bg-13 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-size-banner-mobile.jpg?v=1579289322');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-13 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-size-banner-desktop.jpg?v=1579289325');
    }
  }

  .mw-section-bg-14 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 43%;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-size-overview-mobile.jpg?v=1579291820');
    /* min-height: 300px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-14 {
      background-position: 50% 0;
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-size-overview-desktop.jpg?v=1579291820');
    }
  }

  .mw-section-bg-15 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-size-overlay-mobile.jpg?v=1579527232');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 64em) {
    .mw-section-bg-15 {
      background-image: url('https://cdn.shopify.com/s/files/1/1115/3882/files/shop-by-size-overlay-desktop.jpg?v=1579527233');
    }
  }
}

/* Contentful - Banner Carousel */

.mw-contentful-banner-carousel {
  .absolute.bottom-5 {
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    background-color: rgba(235, 235, 234, 0.8);
    bottom: 0;
  }

  .absolute.bottom-5 .bg-white {
    background-color: #e42128;
  }

  .absolute.bottom-5 .bg-white\/50 {
    background-color: rgba(37, 38, 43, 0.3);
  }

  .rounded-lg {
    border-radius: initial;
  }
}

/* Banners and Headlines */

.mw-standard-banner.mw-standard-banner:not(.has-custom-color) h2,
.mw-featured-products-headline h2,
.mw-narrow-banner-headline,
.mw-decorated-headline {
  color: #070707;
}

.mw-standard-banner h2 code,
.mw-featured-products-headline h2 code,
.mw-narrow-banner-headline code,
.mw-decorated-headline code {
  font-family: Baskerville, serif;
  letter-spacing: 0px;
  font-weight: bold;
  font-style: italic;
  color: #e42128 !important;
}

.mw-featured-products-headline h2 code {
  text-shadow: 1px 1px 0px black;
  -webkit-text-stroke: 1px black;
  font-size: 3.375rem;
}

.mw-standard-banner h2 code {
  text-shadow: 0.5px 0.5px 0px black;
  -webkit-text-stroke: 0.5px black;
  font-size: 1.8rem;

  @media (min-width: 640px) {
    text-shadow: 0.5px 0.5px 0px black;
    -webkit-text-stroke: 0.5px black;
    font-size: 2.125rem;
  }
  @media (min-width: 768px) {
    text-shadow: 1px 1px 0px black;
    -webkit-text-stroke: 1px black;
    font-size: 3.2rem;
  }
  @media (min-width: 1024px) {
    text-shadow: 1.5px 1.5px 0px black;
    -webkit-text-stroke: 1.5px black;
    font-size: 4.5rem;
  }
}

/* Desktop Styles for Decorated Headline */

@media (min-width: 768px) {
  .mw-standard-banner h2,
  .mw-featured-products-headline h2 {
    font-size: 3rem;
  }
  .mw-featured-products-headline h2 code {
    font-size: 4.5rem;
    text-shadow: 1.5px 1.5px 0px black;
    -webkit-text-stroke: 1.5px black;
  }
}

.mw-decorated-headline {
  font-size: 2rem;
}
.mw-decorated-headline code {
  font-size: 2.3rem;
  text-shadow: 0.2px 0.2px 0px black;
  -webkit-text-stroke: 0.2px black;
}

@media (min-width: 480px) {
  .mw-decorated-headline {
    font-size: 2.2rem;
  }
  .mw-decorated-headline code {
    font-size: 2.5rem;
    text-shadow: 0.4px 0.4px 0px black;
    -webkit-text-stroke: 0.4px black;
  }
}

@media (min-width: 640px) {
  .mw-decorated-headline {
    font-size: 2.3rem;
  }
  .mw-decorated-headline code {
    font-size: 2.6rem;
    text-shadow: 0.7px 0.7px 0px black;
    -webkit-text-stroke: 0.7px black;
  }
}

@media (min-width: 768px) {
  .mw-decorated-headline {
    font-size: 2.4rem;
  }
  .mw-decorated-headline code {
    font-size: 2.8rem;
    text-shadow: 0.8px 0.8px 0px black;
    -webkit-text-stroke: 0.8px black;
  }
}

@media (min-width: 1024px) {
  .mw-decorated-headline {
    font-size: 2.8rem;
  }
  .mw-decorated-headline code {
    font-size: 3.1rem;
    text-shadow: 1px 1px 0px black;
    -webkit-text-stroke: 1px black;
  }
}

/* Promo Card & Narrow Banner Shared Styles */

/* .mw-narrow-banner,
.mw-promo-card {
  background-color: #ebebea;
  color: #070707;
} */

.mw-narrow-banner {
  background-color: #ebebea;
  color: #070707;
}

/* Standard Banner */

.mw-standard-banner h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1;
  font-size: 1;

  @media (min-width: 640px) {
    line-height: 1;
    font-size: 1.3rem;
  }
  @media (min-width: 768px) {
    line-height: 1.1;
    font-size: 1.8rem;
  }
  @media (min-width: 1024px) {
    line-height: 1.2;
    font-size: 2.5rem;
  }
}

/* .mw-standard-banner .mw-foreground-html-block {
  padding: 1rem 0;
} */

.mw-standard-banner:not(.has-custom-color) h2 a {
  color: white;
}

.mw-standard-banner h2 a {
  font-size: 1.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: underline;
  font-weight: normal;
}

/* .mw-standard-banner+.mw-standard-banner {
  margin-top: -2.5rem;
} */

/* @media (min-width: 768px) {
  .mw-standard-banner .mw-foreground-html-block {
    padding: 4rem 0;
  }
}

@media (min-width: 1024px) {
  .mw-standard-banner .mw-foreground-html-block {
    padding: 6rem 0;
  }
} */

.mw-standard-banner.mw-we-guarantee h2 {
  margin-bottom: 0;
}

.mw-standard-banner.mw-we-guarantee h2 a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  @media (min-width: 640px) {
    font-size: 1.1rem;
  }
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

/* Narrow Banner */

.mw-narrow-banner {
  aspect-ratio: auto;
}

.mw-narrow-banner-headline h2 {
  text-transform: uppercase;
}

.mw-narrow-banner-headline h2 code {
  font-size: 1.375rem;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 0.5px 0.5px 0px black;
}

.mw-narrow-banner .mw-right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Narrow Banner Desktop Styles */

@media (min-width: 768px) {
  .mw-narrow-banner h2 code {
    font-size: 2.125rem;
    text-shadow: 1px 1px 0px black;
  }
  /* .mw-promo-card .mw-inline-link,
  .mw-narrow-banner .mw-inline-link {
    font-size: .9375rem;
  } */
  .mw-narrow-banner .mw-inline-link {
    font-size: 0.9375rem;
  }
}

@media (min-width: 1024px) {
  .mw-narrow-banner {
    aspect-ratio: 7 / 1;
  }
}

/* Promo Card */

/* .mw-promo-card {
  width: 85vw;
}

.mw-promo-card:not(:first-child) {
  margin-left: 1rem;
}

.mw-promo-card .mw-left-column {
  width: 25%;
}

.mw-promo-card .mw-right-column {
  padding: 0;
  width: 70%;
  margin-left: 5%;
  vertical-align: top;
}

.mw-promo-card .mw-headline {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.mw-promo-card .mw-subheadline {
  font-size: 1.125rem;
  font-weight: bold;
}

.mw-promo-card .mw-description {
  display: none;
  font-size: .9375rem;
  font-weight: regular;
}

.mw-narrow-banner .mw-inline-link,
.mw-promo-card .mw-inline-link {
  font-size: .875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  color: #E42128;
}

.mw-narrow-banner .mw-inline-link:first-of-type,
.mw-promo-card .mw-inline-link:first-of-type {
  margin-right: 2rem;
} */

.mw-narrow-banner .mw-inline-link {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  color: #e42128;
}

.mw-narrow-banner .mw-inline-link:first-of-type {
  margin-right: 2rem;
}

/* .mw-promo-card:not(:last-child) {
  margin-bottom: 1.25rem;
} */

/* .mw-promo-card:last-child {
  margin-right: 1rem;
} */

/* .mw-stacked-promo-container {
  overflow-x: scroll;
  white-space: nowrap;
} */

/* Promo Card Desktop Styles */

@media (min-width: 768px) {
  /* .mw-promo-card:not(:first-child) {
    margin-left: 0;
  } */

  /* .mw-stacked-promo-container {
    overflow-x: initial;
    white-space: normal;
  } */

  /* .promo-card:last-child {
    margin-right: 0;
  }
  .mw-promo-card .mw-left-column,
  .mw-promo-card .mw-right-column {
    width: auto;
  }
  .mw-promo-card .mw-right-column {
    padding: .75rem 0 .75rem 0;
    margin-left: 0;
  }
  .mw-promo-card {
    width: 100%;
    margin-left: 0;
  }
  .mw-promo-card .mw-headline {
    font-size: 1.875rem;
  }
  .mw-promo-card .mw-subheadline {
    font-size: 1.375rem;
  }
  .mw-promo-card .mw-description {
    display: block;
  } */
}

/* Full Bleed Feature Image & Slide (shared styles) */

.mw-full-bleed-feature-image {
  /* aspect-ratio: 3 / 1.8; */
  /* margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw); */
}

.mw-slide {
  aspect-ratio: 5 / 4;
}

.mw-background-desktop {
  display: none;
}

.mw-foreground-content {
  z-index: 1;
}

.mw-foreground-content h2,
.mw-foreground-content h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: bold;
}

.mw-foreground-content h2 {
  color: #e42128;
}

.mw-foreground-content h3 {
  color: #070707;
}

.mw-foreground-content p {
  margin: 1.25rem auto 0;
}

.mw-foreground-content a {
  padding: 0.75rem 1.6875rem;
  background-color: #e42128;
  color: white;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.875rem;
  white-space: nowrap;
}

.mw-foreground-content.mw-inverse a {
  background-color: white;
  color: #e42128;
}

.mw-slider-container .indiana-scroll-container.rounded-lg {
  border-radius: 0;
}

/* Desktop Styles for Full Bleed Feature Image & Slide (shared styles) */

@media (min-width: 768px) {
  .mw-slide {
    aspect-ratio: auto;
  }
  /* .mw-full-bleed-feature-image {
    aspect-ratio: 16 / 9;
  } */
  .mw-background-desktop {
    display: block;
  }
  .mw-background-mobile {
    display: none;
  }
  .mw-foreground-content h2,
  .mw-foreground-content h3 {
    font-size: 2rem;
  }
  .mw-foreground-content p {
    margin: 1.75rem auto;
  }
}

@media (min-width: 1024px) {
  .mw-foreground-content a {
    font-size: 1.125rem;
    padding: 1rem 2.25rem;
    border-radius: 10px;
  }
  .mw-foreground-content p {
    margin: 2.5rem auto;
  }
}

/* Styles for Slider */

/* .mw-image-carousel-container .absolute.bottom-5,
.mw-slider-container .absolute.bottom-5 {
  bottom: 2rem;
  padding: .25rem .75rem;
  border-radius: 1rem;
  background-color: rgba(255,255,255,.8);
}
.mw-image-carousel-container .absolute.bottom-5 {
  background-color: rgba(235,235,234,.8);
  bottom: -3.2rem;
  @media (min-width: 768px) {
    bottom: -4rem;
  }
}
.mw-image-carousel-container .absolute.bottom-5 .bg-white,
.mw-slider-container .absolute.bottom-5 .bg-white {
    background-color: #E42128;
}
.mw-image-carousel-container .absolute.bottom-5 .bg-white\/50,
.mw-slider-container .absolute.bottom-5 .bg-white\/50 {
    background-color: rgba(37,38,43,.3);
} */

/* Styles for Nuka Carousel */

.product-gallery__paging-dots {
  top: 36px !important;
  gap: 0.75rem;
}
.product-gallery__paging-dots .paging-item > button {
  fill: #9a9798 !important;
}
.product-gallery__paging-dots .paging-item.active > button {
  fill: #5e5a5b !important;
}
.product-gallery__paging-dots .paging-dot {
  width: 12px;
  height: 12px;
}
.product-gallery__paging-dots .slider-frame {
  cursor: grab;
}

.mw-image-carousel__paging-dots {
  top: 40px !important;
  gap: 0.75rem;
}
.mw-image-carousel__paging-dots .paging-item > button {
  fill: #9a9798 !important;
}
.mw-image-carousel__paging-dots .paging-item.active > button {
  fill: #5e5a5b !important;
}
.mw-image-carousel__paging-dots .paging-dot {
  width: 12px;
  height: 12px;
}
.mw-image-carousel__paging-dots .slider-frame {
  cursor: grab;
}

/* Simple Image */

.mw-simple-image-desktop {
  display: none;
}

.mw-simple-image-mobile {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .mw-simple-image-desktop {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mw-simple-image-mobile {
    display: none;
  }
}

/* Featured Products - Gallery Display Style */

.featured-products-container {
  background-color: #ebebea;
  padding: 1rem;
  @media (min-width: 1024px) {
    padding: 2rem;
  }
}

.mw-featured-products-headline {
  white-space: normal;
}

.mw-featured-products-gallery {
  overflow-x: auto;
  white-space: nowrap;
}

/* .mw-featured-products-gallery > .rounded-lg {
  width: 45%;
  background-color: white;
  display: inline-block;
  white-space: normal;
}

.mw-featured-products-gallery > .rounded-lg {
  margin-right: .5rem;
}

.mw-featured-products-gallery > .rounded-lg:last-child {
  margin-right: 2rem;
}

.mw-featured-products-gallery > .rounded-lg .grid-cols-2 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: .5rem;
} */

.mw-featured-products-headline h2 {
  margin-bottom: 2rem;
}

/* @media (min-width: 768px) {
  .mw-featured-products-gallery > .rounded-lg {
    width: 30%;
  }
  .mw-featured-products-gallery > .rounded-lg:not(:last-child) {
    margin-right: 1rem;
  }
  .mw-featured-products-gallery > .rounded-lg .grid-cols-2 {
    padding: .75rem;
  }
} */
